<div class="row">
    <div class="col s8 offset-s2">
        <ul class="collapsible popout" data-collapsible="">
            <li ng-repeat="event in events track by $index">
                <div class="collapsible-header">
                    <h3>{{event.title}}</h3>
                    <p>{{event.date}}</p>
                    <p>{{event.category | uppercase}}</p>
                </div>
                <div class="collapsible-body">
                    <h6>Price: {{event.price | currency}}</h6>
                    <p>Where: {{event.location}}</p>
                    <p>{{event.description}}</p>
                    <p>More information can be found here: {{event.website}}</p>
                    <a class="btn-floating btn-medium waves-effect waves-light red" ng-click="addEventToUser($index)" message="Added" duration="2000" toast='click'><i class="fa fa-plus"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>