    <nav class="container-fluid nav-extended" ng-controller="SignInController">
        <div class="nav-wrapper">
            <img src="themoves.jpg" class="themoves" alt="">
            <ul class="right">
                <li ng-hide="UserService.isAuthenticated()"><a href="" data-target="signInModal" modal>Sign In</a></li>
                <li ng-hide="UserService.isAuthenticated()"><a href="#/signup">Sign Up!</a></li>
                <li ng-show="UserService.isAuthenticated()">
                    <button class="btn" ng-click="UserService.logout()" message="Logged Out!" duration="2000" toast="click">Sign Out</button>
                </li>
                <li ng-show="UserService.isAuthenticated()"><a href="#/settings">Settings</a></li>
            </ul>
            <ul class='nav-content tabs tabs-transparent'>
                <li class="tab">
                    <a href="#/home">home</a>
                </li>
                <li class="tab">
                    <a href="#/daily">Daily Inspiration</a>
                </li>
                <li class="tab" ng-show="UserService.isAuthenticated()">
                    <a href="#/myEvents">Saved Events</a>
                </li>
                <li class="tab" ng-show="UserService.businessOwner">
                    <a href="#/addEvent">Add Event</a>
                </li>
                <li class="tab" ng-show="UserService.businessOwner">
                    <a href="#/postedEvents">Posted Events</a>
                </li>
            </ul>
        </div>
    </nav>