<div class="container">
    <div class="row">
        <div class="col s6 offset-s3">
            <form action="">
                <div class="input-field">
                    <input type="text" ng-model="newUser.firstName">
                    <label>First Name</label>
                </div>
                <div class="input-field">
                    <input type="text" ng-model="newUser.lastName">
                    <label>Last Name</label>
                </div>
                <div class="input-field">
                    <input type="text" ng-model="newUser.email">
                    <label>Email Address</label>
                </div>
                <div class="input-field">
                    <input type="text" ng-model="newUser.password">
                    <label>Password</label>
                </div>
                <div class="input-field">
                    <input type="text" ng-model="newUser.location">
                    <label>Location</label>
                </div>
                <button type="button" ng-click="addUser(newUser)">Create new account</button>
            </form>
        </div>
    </div>
</div>