<div class="container">
    <div class="row">
        <div class="col s6 offset-s3">
            <form action="">
                <div class="input-field">
                    <input type="text">
                    <label for="">First Name</label>
                </div>
                <div class="input-field">
                    <input type="text">
                    <label for="">Last Name</label>
                </div>
                <div class="input-field">
                    <input type="text">
                    <label for="">Email Address</label>
                </div>
                <div class="input-field">
                    <input type="text">
                    <label for="">Password</label>
                </div>
                <button>Create new account</button>
            </form>
        </div>
    </div>
</div>