.pin_drop {
    height: 60px;
    width: 60px;
    float: left;
}

#map { 
    width: 100%; 
    height: 400px;
}
/*

body { 
    background: url('https://source.unsplash.com/user/joshua') no-repeat center center fixed; 
    background-size: cover;
}*/
