<div class="row">
    <div class="col s8 offset-s3">
        <h1>Please choose your event!</h1>
        <h5>{{}}</h5>
    </div>
</div>
<div class="row">
    <div class="col s6 offset-s3">
        <form action="">
            <div class="row">
                <div class="input-field">
                    <input id="search_input" type="text" ng-model="search_input">
                    <label for="search_input">Search Here By Key Word</label>
                </div>
            </div>
            <button ng-click="searchByWord(search_input)" class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
        </form>
    </div>

    <div class="col s6 offset-s3">
        <div class="row">
            <div class="input-field">
                <select material-select watch ng-model="category">
                    <option  value="music">Music</option>
                    <option value="party">Party</option>
                    <option value="food">Food</option>
                    <option value="theater">Theater</option>
                    <option value="outdoors">Outdoors</option>
                    <option value="education">Education</option>
                    <option value="night_time">For the night</option>
                    <option value="art">Art</option>
                </select>
                <label for="search_input">Search By Category here</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" name="action" ng-click="searchByCategory(category)">Submit
        </button>
    </div>
</div>